<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloApp</servlet-name>
    <servlet-class>HelloApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloApp</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>openWelcome</servlet-name>
    <servlet-class>WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>openWelcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doSignup</servlet-name>
    <servlet-class>SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doSignup</servlet-name>
    <url-pattern>/startSignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doLogin</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doLogin</servlet-name>
    <url-pattern>/startLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showAbout</servlet-name>
    <servlet-class>AboutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showAbout</servlet-name>
    <url-pattern>/openAbout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doLogout</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doLogout</servlet-name>
    <url-pattern>/doLogout</url-pattern>
  </servlet-mapping>
</web-app>